server:
  port: 8081
  servlet:
    context-path: /api/ws-control
spring:
  application:
    name: controle-despesas
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/controldb
    username: root
    password: admin
  flyway:
    locations: classpath:db/migration, classpath:db/testdata
#  jpa:
#    properties:
#      jakarta.persistence.schema-generation.scripts.action: create
#      jakarta.persistence.schema-generation.scripts.create-target: src/main/resources/ddl.sql
security:
    client-id: ${CLIENT_ID:myclientid}
    client-secret: ${CLIENT_SECRET:myclientsecret}
    jwt:
      duration: ${JWT_DURATION:86400}

cors:
  origins: ${CORS_ORIGINS:http://localhost:3000,http://localhost:5173}
